*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: Arial, "Helvetica Neue";
    font-size: 17px;
    color: white;
    line-height: 1.6;
}

nav {
    background: none;
    min-height: 85px;
    font-size: 2rem;
    top: 0px;
    position: fixed;
    width: 100vw;
    z-index: 20;
    transition: 0.2s;
}

nav ul {
    list-style-type: none;
    margin: 0px;
    padding-right: 20px;
    transition: 0.35s all ease;
    float: right;
    cursor: default;
}

nav ul li {
    display: inline-block;
    padding: 1rem;
}

nav ul li a {
    color: white;
    cursor: pointer;
}

nav ul li a:hover {
    text-decoration: inherit;
    color: white;
}

nav.shrink {
    min-height: 10px;
    background: black;
    transition: 0.2s;
    font-size: 1rem;
    
    ul {
        padding: 1rem 2rem;
        transition: 0.2s;
    }
    
    li{
        color:white;
        transition: 0.2s;
    }
}

#showcase{
    background-image: url('../images/pexels-photo-149246.jpeg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:0 20px;
}

#showcase h1{
    font-size:50px;
}

#showcase p{
    font-size: 20px;
}

#showcase .button{
    font-size: 18px;
    text-decoration: none;
    color: white;
    border: white 1px solid; 
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
}

#showcase .button:hover{
    background:white;
    color: rgba(0, 0, 0, 0.5);
}

section{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    text-align: center;
    padding:0 20px;
    height: 100vh;
}
section h1{
    font-size:50px;
    text-align: left;
}

#section1{
    background-color: #F67280;
    
}

#section2{
    background-color: #C06C84;
}

#section3{
    background-color: #6C5B7B;
}

#section4{
    background-color: #355C7D;
}